<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<base href="{% if root_url != '' %}{{ root_url }}{% else %}/{% endif %}"  />
<link rel="openid.server" href="https://pip.verisignlabs.com/server/" />
<link rel="openid.delegate" href="https://kitchen.pip.verisignlabs.com/" />
<link rel="openid2.provider" href="https://pip.verisignlabs.com/server" />
<link rel="openid2.local_id" href="https://kitchen.pip.verisignlabs.com" />
<meta http-equiv="X-XRDS-Location" content="https://pip.verisignlabs.com/user/kitchen/yadisxrds" />
<meta http-equiv="X-YADIS-Location" content="https://pip.verisignlabs.com/user/kitchen/yadis" />

